body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
}

/* Navigational Bar */
#navBar {
    /* Lock in place! */
    position: fixed;
    width: 320px; /* based on 1/6 of a FHD screen, also holds a nice form even on 4K */
    box-shadow:inset -10px 0px 20px -10px #000;
    margin: 0;
    padding: 0;
    background-color: #03A9F4;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

    #navBar h1 {
        font-size: 2.25em;
    }

    #navBar ul {
        list-style-type: none;
    }

        /* Set same for ALL links*/
        #navBar ul li a:link {
            font-size: 1.15em;
            font-size: 1.3em;
        }

    #navBar #navMenu {
        margin-top: 50px;
    }

        /*
     Edit just the links in navmenu
    Add transisition for size
*/
        #navBar #navMenu li a {
            text-decoration: none;
            transition: font-size 0.25s;
            font-style: oblique;
        }

            /*
    On hover -> increase size
*/
            #navBar #navMenu li a:hover {
                font-size: 1.6em;
            }

        /*
    oblique is a bad idea on chromebook
*/
        #navBar #navMenu #current a {
            font-size: 1.6em;
            font-style: oblique;
        }

        #navBar #navMenu hr {
            transition: width 0.25s, opacity 0.25s;
            width: 0;
            opacity: 0;
        }

        /*
    Affect Current HR
*/
        #navBar #navMenu #current hr {
            width: 40%;
            opacity: 1;
        }

        /* 
    Cause hover to adjacent HR element
*/
        #navBar #navMenu li a:hover + hr {
            width: 40%;
            opacity: 1;
            /*color: #FF3D00;*/
        }

        #navBar #navMenu #current a:hover + hr {
            width: 40%;
        }



/**********************
            Content
    ***********************/

/*
    
*/
.floatingContent {
    width: auto;
    margin-left: 320px;
    overflow: auto;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

/*
    Section stuff
*/

section {
    /*width: 90%;
    margin: 30px auto;
    box-shadow: -10px 10px 20px 0px #000;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    background-color: #fff;*/
    width: 90%;
    margin: 50px auto;
}

/**/

@media screen and (min-width: 1320px){ /* 1000 * 0.9 = 900; However left margin is shifted by 320*/
    section {
        width: 900px;
    }
}

    /*
    Fix Title left margin
*/
    section h1 {
        margin: 20px 5px 20px 5px;
        text-align:center;
    }

    /*
    Fix H2 margins
*/
    section h2 {
        margin: 10px 10px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-align: left;
    }


.titleContent {
    background-color: #4FC3F7;
    width: auto;
    padding: 10px;
    margin-top:0px;
    box-shadow: 00px -10px 20px 12px #000;
    
}
/*.titleContent {
    box-shadow: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}*/

.card {
    width: 80%;
    padding: 10px;
    box-shadow: -5px 5px 20px -4px #000;
    transition: box-shadow 0.25s, background-color 0.25s;
}

@media screen and (min-width: 1320px){ /* 1000 * 08 = 800; However left margin is shifted by 320*/
    .card {
        width: 800px;
    }
}

/*.card:hover {
    box-shadow: -10px 10px 20px -4px #000;
}*/

.card:hover {
    box-shadow: -7px 7px 20px 0px #000;
    background-color:#FF9100;
}

/*
    Section formatting for gallery
*/
.galleryContent {
}


/*
    Article goes inside section ?
*/
/*article {
    border: solid;
    border-width:2px;
    margin: 5px;
    padding: 0 5px 0 5px;
}*/




/* Remove Margin from everything within ul tags */
ul * {
    margin: 0;
}

/* HR */
hr {
    width: 70%;
    border-style: solid;
    color: #000000;
    text-align: left; /* fix for MS EDGE. Why this is a thing, I don't know */
}

/* Link's with underline are bad */
a:visited, a:link {
    text-decoration:none;
    color:#000;
}

.undrln {
    color: #FF9100 !important;
}
