body {
    /*margin: 0 !important;*/
    /*padding: 0 !important;*/
    background-color: rgb(30,30,30);
    color: rgb(200,200,200);
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 10px 0;
}

/* Navigational Bar */
#navBar {
    /* Lock in place! */
    position: fixed;
    width: 100%; /* based on 1/6 of a FHD screen, also holds a nice form even on 4K */
    box-shadow: inset -10px 0px 20px -10px #000;
    margin: 0;
    padding: 0;
    background-color: rgb(45,45,48);
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

    #navBar h1 {
        font-size: 2.25em;
        color: #969ca0;
    }

    #navBar ul {
        list-style-type: none;
    }

        /* Set same for ALL links*/
        #navBar ul li a:link {
            font-size: 1.15em;
            font-size: 1.3em;
        }

    #navBar #navMenu {
        margin-top: 50px;
    }

        /*
     Edit just the links in navmenu
    Add transisition for size
*/
        #navBar #navMenu li a {
            font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            text-decoration: none;
            transition: font-size 0.25s;
            color: #000;
        }

            /*
    On hover -> increase size
*/
            #navBar #navMenu li a:hover {
                /*font-size: 1.6em;*/
            }

        #navBar #navMenu #current a {
        }

        #navBar #navMenu hr {
            transition: width 0.25s, opacity 0.25s;
            width: 0;
            opacity: 0;
        }

        /*
    Affect Current HR
*/
        #navBar #navMenu #current hr {
            width: 40%;
            opacity: 1;
        }

        /* 
    Cause hover to adjacent HR element
*/
        #navBar #navMenu li a:hover + hr {
            width: 40%;
            opacity: 1;
            /*color: #FF3D00;*/
        }

        #navBar #navMenu #current a:hover + hr {
            width: 40%;
        }



/**********************
            Content
    ***********************/

/*
    
*/
.floatingContent {
    padding-top: 30px;
    width: 100%;
    /*margin-left: 320px;*/
    overflow: auto;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.floatingContentGal {
    padding-top: 30px;
    width: 100%;
    overflow: auto;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/*
    Section stuff
*/

section {
    /*width: 90%;
    margin: 30px auto;
    box-shadow: -10px 10px 20px 0px #000;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    background-color: #fff;*/
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
}

/*
    Fix Title left margin
*/
section h1 {
    /*margin: 20px 5px 20px 5px;*/
    text-align: center;
}

/*
    Fix H2 margins
*/
section h2 {
    margin: 30px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

section h3 {
    margin: 20px 10px 0px 0px;
    padding: 0;
    text-align: left;
}

.landingBack {
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
}

.titleContent {
    background-color: rgb(45,45,48);
    width: auto;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 00px -10px 20px 12px #000;
    color: rgb(200,200,200);
}
/*.titleContent {
    box-shadow: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}*/



/*
    Section formatting for gallery
*/
.galleryContent {
}


/*
    Article goes inside section ?
*/
/*article {
    border: solid;
    border-width:2px;
    margin: 5px;
    padding: 0 5px 0 5px;
}*/




/* Remove Margin from everything within ul tags */
ul * {
    margin: 0;
}

/* HR */
hr {
    width: 70%;
    border-style: solid;
    color: #000000;
    text-align: left; /* fix for MS EDGE. Why this is a thing, I don't know */
}

/* Link's with underline are bad */
a:link, a:visited {
    text-decoration: none;
    color: #fff;
}
.fContainer {
    height: 25vh;
    width: 67%;
    background-color: pink;
    float: right;
}

.fRight {
    height: 25vh;
    width: 50%;
    background-color: pink;
    float: right;
}

.fLeft {
    height: 25vh;
    width: 33%;
    background-color: cyan;
    float: left;
}

.fContainer .fLeft {
    height: 25vh;
    width: 50%;
    background-color: green;
    float: left;
}

.fCenterText {
    height: 10%;
    margin: 50px;
}

.gallery {
    width: 80%;
    margin: 10px auto;
    /* Vendor column counts */
    -webkit-column-count: 5;
    -moz-column-count: 5;
    -ms-column-count: 5;
    -o-column-count: 5;
    column-count: 5;
    /* Vendor column gaps */
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    -ms-column-gap: 5px;
    -o-column-gap: 5px;
    min-width: 80%;
    column-gap: 5px;
}


.galleryItem {
    background-color: rgba(0,0,0,0.75);
    display: inline-block;
    margin: 0 0 5px;
    width: 100%;
}

    .galleryItem p {
        padding: 10px 5px 15px 5px;
        margin-left: 10px;
        color: whitesmoke;
    }

    .galleryItem img {
        max-width: 100%;
        width:100%;
        height: auto;
        /*width: auto;*/
        margin: auto;
        float: none;
    }

.cent {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-left: 10%;
}

.cent .insection {
    width: 680px;
    background-color: rgba(0,0,0,0.75);
    display: inline-block;
    margin: auto auto 5px;
    padding: 20px;
}

/* four at clamp */
@media screen and (max-width: 2350px) {
    .gallery {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        -ms-column-count: 4;
        -o-column-count: 4;
        column-count: 4;
    }
}


/* Three cols at 00px */
@media screen and (max-width: 1850px) {
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        -ms-column-count: 3;
        -o-column-count: 3;
        column-count: 3;
    }
}

/* Two cols at 600px */
@media screen and (max-width: 1350px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -ms-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
    }
}

/* Only display 1 image per col when col is 200px */
/* Occurs at */
@media screen and (max-width: 850px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -ms-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
    }
}

body header {
    background-color: #2266AA;
    background-size: cover;
    background-position: center center;
    height: auto;
}

header {
    width: 100%;
}

nav {
    width: 100%;
    /*transition: background 0.3s linear;*/
    z-index: 3;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    z-index: 3;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 10px;
}

footer {
    background-color: #2266AA;
    background-size: cover;
    background-position: center center;
    height: 38px;
    width: 100%;
    /*transition: background 0.3s linear;*/
    z-index: 3;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

footer a{
    z-index: 3;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 10px;
}

.foot {
    display: inline-block;
    position: relative;
    margin-left: 45px;
    width: 25%;
    background-size: 150px;
    background-position: left center;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 1;
}

.sLink {
    color: #ff6900 !important;

}

.link {
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-out;
}

.link:hover {
    border-bottom: 3px solid #fff;
}

.clink {
    border-bottom: 3px solid #fff;
}

.title {
    display: inline-block;
    position: relative;
    margin-left: 45px;
    width: 25%;
    height: 76px;
    background-image: url("../images/title.png");
    background-size: 150px;
    background-position: left center;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 1;
}

.landTitle {
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    color: rgb(230,230,230);
    padding: 25px 0 25px 0;
}

    .landTitle a:visited, .landTitle a:link {
        text-decoration: none;
        color: rgb(230,230,230);
        border-bottom: 3px solid transparent;
        transition: all 0.33s ease-out;
    }

    .landTitle a:hover {
        border-bottom: 3px solid rgb(230,230,230);
    }

    .landTitle h1 {
        font-size: 5em;
        margin: 0;
    }

    .landTitle h2 {
        margin: 10px;
    }

.movementBox {
    font-family: roboto, Helvetica, Arial, sans-serif;
}

    .movementBox a {
        margin-left: 5px;
        margin-right: 5px;
    }

.curr {
    border-bottom: 3px solid rgb(230,230,230) !important;
}

.pGalItem {
    background-color: rgba(0,0,0,0.75);
    display: inline-block;
    margin: 0 0 5px;
    width: 100%;

    transition: background-color 0.25s, color 0.25s;
}

    .gallery a {
        color:whitesmoke !important;
    }

    .pGalItem p {
        margin-left: 10px;
        padding: 10px 5px 10px 5px;
    }

    .pGalItem h2 {
        text-align: center;
        margin: 0;
        padding: 30px 30px 20px 30px;
    }

    .pGalItem img {
        max-width: 100%;
        height: auto;
        width: auto;
        margin: auto;
        float: none;
    }




/*.card:hover {
    box-shadow: -10px 10px 20px -4px #000;
}*/

.pGalItem:hover {
    background-color: rgb(153,153,156);
    color: #000;
}

.para {
    margin: 0 auto;
    width: 100%;
    max-width: none;
    height: auto;
    min-height: 33.3334%;

    background-position: left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

.para h1{
    padding-top: 30px;
}

.para p {
        padding-top: 60px;
        text-align: center;
        margin: 0;
        padding: 10px;
    }

.para:hover {
	width:300%;
}

.mainIndexSec {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    margin: 0;
}

#coding {
    background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url("../images/devenv.png");
}

/*#coding:hover p:after {
    CONTENT: "I started programming back in 2006 with BASIC and later scripting in Bethesda's Oblivion. I learned Python, HTML5 and CSS3 in 2012. I learned C#, Java, C++ and CUDA in 2014 while working for Nyriad.";
}*/

#art {
    background-image:linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5)), url("../images/colourTest.png");
}

#games {

    background-image:linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5)), url("../images/unrealenginelevel.jpg");

}

section h1 {
    margin: 0;
    padding: 10px;
}

.para .contentHider {
    display: none;
}

.para:hover .contentHider {
    display: block;
}