body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #333333;
}

/* Navigational Bar */
#navBar {
    /* Lock in place! */
    position: fixed;
    width: 320px;
    margin:0;
	padding:0;
    /*left: 0;*/
    background-color: #325f64;
    height:100vh;
    font-family: 'Times New Roman', Times, serif;
}

#navBar h1 {
    font-size:2.25em;
}

#navBar ul {
    list-style-type: none;
}

/* Set same for ALL links*/
#navBar ul li a:link {
    color: #000000;
    font-size:1.15em;
}

#navBar ul li a:visited {
    color: #000000;
}

/*
     Edit just the links in navmenu
    Add transisition for size
*/
#navBar #navMenu li a {
    text-decoration: none;
    transition: font-size 0.25s;
    font-style: italic;
}

/*
    On hover -> increase size
*/
#navBar #navMenu li a:hover {
    font-size:1.6em;
}

/*
    set the size of the current link to fixed
*/
#navBar #navMenu #current a{
    font-size:1.15em;
    font-style: oblique;
}

#navBar #navMenu hr {
    transition: width 0.25s, opacity 0.25s;
    width: 0;
    opacity: 0;
}

/*
    Affect Current HR
*/
#navBar #navMenu #current hr {
    width:10%;
    opacity: 1;
}

/* 
    Cause hover to adjacent HR element
*/
#navBar #navMenu a:hover + hr{
    width: 50%;
    opacity: 1;
}

#navBar #navMenu #current a:hover + hr{
    width: 50%;
    opacity: 1;
}





/* Space for mid and right floating */
.floatingContent {
    width: auto;
    margin-left:320px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#folio {
    margin:5px;
    width:100%;
    /*background-color: #ff00dc;*/
}

/* Remove Margin from everything within ul tags */
ul * {
    margin:0;
}

/* HR */
hr {
    width:70%;
    border-style: solid;

    color:#000000;
}